# top level dir
/dist/
/node_modules/
/data/
/build/

# dirs
__pycache__/
.ruff_cache/
scripts/
logs/
artifacts/
*.egg-info/

# files
**/configs/*.toml
*.sarif
*.json

# not ignored
!**/configs/*.example.toml
